<div class="people-container">
    <div class="users-grid">
        <div class="user-card" *ngFor="let user of users" (click)="showUserDetails(user)">
            <div class="user-avatar">
                <ng-container *ngIf="!user.avatar; else userAvatar">
                    <i class="fas fa-user-circle"></i>
                </ng-container>
                <ng-template #userAvatar>
                    <img [src]="user.avatar" alt="{{ user.username }}">
                </ng-template>
            </div>
            <span class="username">{{ user.username }}</span>
            <span class="user-role" *ngIf="isCurrentUser(user.username)">(You)</span>
        </div>
    </div>

    <div class="modal" *ngIf="selectedUser">
        <div class="modal-content">
            <div class="modal-header">
                <h2>User Profile</h2>
                <button class="close-btn" (click)="closeUserDetails()">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="user-profile">
                    <div class="user-avatar-large">
                        <ng-container *ngIf="!selectedUser.avatar; else selectedUserAvatar">
                            <i class="fas fa-user-circle"></i>
                        </ng-container>
                        <ng-template #selectedUserAvatar>
                            <img [src]="selectedUser.avatar" alt="{{ selectedUser.username }}">
                        </ng-template>
                    </div>
                    <h3>{{ selectedUser.username }}'s Events</h3>

                     <!-- action buttons -->
                <div class="user-actions">
                  <button class="action-btn message-btn" (click)="startChat(selectedUser)">
                      <i class="fas fa-comment"></i>
                      Message
                  </button>
                  <button class="action-btn follow-btn" 
                          (click)="toggleFollow(selectedUser)"
                          [class.following]="isFollowing(selectedUser)">
                      <i class="fas" [class.fa-user-plus]="!isFollowing(selectedUser)" 
                         [class.fa-user-check]="isFollowing(selectedUser)"></i>
                      {{ isFollowing(selectedUser) ? 'Following' : 'Follow' }}
                  </button>
              </div>
                    <div class="user-events">
                        <div class="events-section">
                            <h4>Created Events</h4>
                            <div class="events-list">
                                <div class="event-item" *ngFor="let event of selectedUser.createdEvents">
                                    <div class="event-info">
                                        <span class="event-name">{{ event.name }}</span>
                                        <span class="event-date">
                                            <i class="fas fa-calendar"></i>
                                            {{ event.date | date }}
                                        </span>
                                    </div>
                                    <a [routerLink]="['/events', event._id]" class="view-event">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="events-section">
                            <h4>Attended Events</h4>
                            <div class="events-list">
                                <div class="event-item" *ngFor="let event of selectedUser.attendedEvents">
                                    <div class="event-info">
                                        <span class="event-name">{{ event.name }}</span>
                                        <span class="event-date">
                                            <i class="fas fa-calendar"></i>
                                            {{ event.date | date }}
                                        </span>
                                    </div>
                                    <a [routerLink]="['/events', event._id]" class="view-event">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>